@font-face { font-family: 'MapoPeacefull'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoPeacefullA.woff') format('woff'); font-weight: normal; font-style: normal; }


/* 전체 */
body {
    --font-kr : 'MapoPeacefull';
    --font-en : 'Yanone Kaffeesatz', sans-serif;
    --color-red : #9c0a1f;
    font-family: var(--font-kr);
}
#header {position: fixed;top: 0; left: 0; width: 100%; z-index: 9999; background: transparent; border-bottom: 1px solid rgba(255,255,255,.4); transition: background .3s;}
#banner {height: 810px; background: url(../img/main.jpg) no-repeat center; background-size: cover; }
#nav{display: none;}

#consult {position: fixed; bottom: 0; left: 0; width: 100%; z-index: 9999; background: #f1ebe7;}

#store {height: 600px; background: url(../img/section01bg.gif) no-repeat center center; background-size: cover;}
#menu {background: url(../img/bg_section2.jpg) no-repeat center center; background-size: cover; border-bottom: 1px solid var(--color-red); position: relative;}
#community {padding: 100px 0; background: rgba(236, 234, 234, 0.733); position: relative;}

#footer{}


.container {width: 1280px; margin: 0 auto;}
.row {padding: 0 26px;}

/* ham */
.ham {position: fixed; top: 15px; right: 25px; display: block; width: 30px; height: 10px; padding: 15px 10px; display: none;}
.ham span{display: block; width: 30px; height: 4px; background: #fff; position: relative; transition: all .3s}
.ham span:before{content: ''; display: block; width: 30px; height: 4px; background: #fff; position: absolute; left: 0; bottom: -7px; transition: all .3s}
.ham span:after{content: ''; display: block; width: 30px; height: 4px; background: #fff; position: absolute; left: 0; top: -7px; transition: all .3s}
.ham.active span {background: transparent;}
.ham.active span:before {background:#fff; bottom: 2px; transform: rotate(45deg)}
.ham.active span:after {background:#fff; top: -2px; transform: rotate(-45deg)}


/* header */
.header {padding: 15px 0; display: flex; align-items: center; justify-content: space-around;}
.header_logo {width: 20%; height: 36px; background: url(../img/logo1.png) no-repeat left center; background-size:  134px;}
.header_list {width: 60%; }
.header_list ul { }
.header_list ul li {display: inline-block; width: 20%; }
.header_list ul li a {color: #fff; font-size: 32px; text-transform: uppercase; font-family: var(--font-en); font-weight: bold; transition: color .3s;}
.header_franchise {width: 178px; height: 53px; background: url(../img/btn_franchise.png) no-repeat; background-size:  178px; background-position: 0 0;}

#header:hover {background: #fff; cursor: pointer;}
#header:hover .header_logo {background: url(../img/logo2.png) no-repeat left center; }
#header:hover .header_list ul li a {color: #000;}
#header:hover .header_list ul li a:hover {color: var(--color-red)}
#header:hover .header_franchise  {background-position: 0 -53px;}
#header:hover .ham span {background: var(--color-red);}
#header:hover .ham span:before {background: var(--color-red);}
#header:hover .ham span:after {background: var(--color-red);}
#header:hover .ham.active span {background: transparent;}
#header:hover .ham.active span:before {background: var(--color-red);}
#header:hover .ham.active span:after {background: var(--color-red);}

#header.active {background: #fff; cursor: pointer;  border-bottom: 1px solid rgba(0,0,0,.6);}
#header.active .header_logo {background: url(../img/logo2.png) no-repeat left center; }
#header.active .header_list ul li a {color: #000;}
#header.active .header_list ul li a:hover {color: var(--color-red)}
#header.active .header_franchise  {background-position: 0 -53px;}
#header.active .ham span {background: var(--color-red);}
#header.active .ham span:before {background: var(--color-red);}
#header.active .ham span:after {background: var(--color-red);}
#header.active .ham.active span {background: transparent;}
#header.active .ham.active span:before {background: var(--color-red);}
#header.active .ham.active span:after {background: var(--color-red);}


/* consult */
.consult {padding: 20px 0; display: flex; justify-content: space-between; align-items: center;}
.consult_tit {font-size: 24px; color: var(--color-red);}
.consult_input > input {font-size: 18px; padding-left: 10px;}
#consult_name {margin-right: 50px;}
.consult_contact {width: 80px;}
.consult_btn {padding: 10px 30px; background: #333; color: #fff; border-radius: 5px; font-size: 18px;}


/* store */
.store {padding: 70px 0;}
.store_left {float: left; width: 45%; padding-right: 10%; color: #fff;}
.store_right {float: right; width: 45%;}
.store p {font-size: 72px; line-height: 1.2; padding-bottom: 40px; word-break: keep-all; width: 370px;}
.store p span{font-weight: bold;}
.store_right p {color: var(--color-red); }
.store_tit {font-family: var(--font-en); font-size: 38px; text-transform: uppercase; position: relative; padding:0 0 30px 50px; }
.store_tit:before {content:''; position: absolute; top: 0; left: 0; width: 35px; height: 40px;}
.store_tit.st1:before {background: url(../img/bg_subtit1.png) no-repeat center; background-size: contain; }
.store_tit.st2:before {background: url(../img/bg_subtit2.png) no-repeat center;  background-size: contain;}
.store_btn {cursor: pointer; background: #000; width: 450px; padding: 15px; border-radius: 5px; text-align: left; color: #fff; font-family: var(--font-kr); font-size: 20px; position: relative;}
.store_btn:after {content: ''; position: absolute; top: 50%; right: 15px; transform: translateY(-50%); width: 13px; height: 24px; background: url(../img/arr_btn.png); }
.store_src {box-sizing: border-box; width: 450px; border: 3px solid var(--color-red); padding: 18px 15px; border-radius: 5px;position: relative;}
.store_src:after {content: ''; position: absolute; top: 50%; right: 15px; transform: translateY(-50%); width: 28px; height: 28px; background: url(../img/btn_search.png); }
.store_src::placeholder {font-family: var(--font-kr); font-size: 20px; color: var(--color-red);}


/*menu*/
.menu {padding: 100px 0; z-index: 2;}
.menu_tit {font-family: var(--font-en); font-size: 38px; text-transform: uppercase; position: relative; padding:0 0 30px 50px;}
.menu_tit:before {content:''; position: absolute; top: 0; left: 0; width: 40px; height: 40px; background: url(../img/bg_subtit3.png) no-repeat center; background-size: contain;}

.menu p {font-size: 72px; line-height: 1.2; padding-bottom: 40px; color: var(--color-red); word-break: keep-all; width: 490px;}
.menu p span{font-weight: bold;}
.menu_btn {cursor: pointer; background: var(--color-red); width: 450px; padding: 15px; border-radius: 5px; text-align: left; color: #fff; font-family: var(--font-kr); font-size: 20px; position: relative;}
.menu_btn:after {content: ''; position: absolute; top: 50%; right: 15px; transform: translateY(-50%); width: 13px; height: 24px; background: url(../img/arr_btn.png); }

/* community */
.community {}
.community_tit {font-family: var(--font-en); font-size: 38px; text-transform: uppercase; position: relative; padding:0 0 30px 50px;}
.community_tit:before {content:''; position: absolute; top: 0; left: 0; width: 40px; height: 40px; background: url(../img/bg_subtit5.png) no-repeat center; background-size: contain;}
.community p {font-size: 72px; padding-bottom: 60px; word-break: keep-all;}
.community p span{font-weight: bold;}

.swiper_slide_style {padding: 20px; background: #fff;  }
.swiper_slide_tit {position: relative; font-family: var(--font-en); font-size: 24px; text-transform: uppercase; padding: 0 0 20px 40px; }
.swiper_slide_tit:before {content:''; position: absolute; top: 0; left: 0; width: 31px; height: 31px; background: url(../img/icon_community_fb.png) no-repeat center; background-size: contain;}
.swiper_slide_text {height: 80px; font-size: 28px; margin-bottom: 30px;}
.swiper_slide_img {width: 100%;}





/* 미디어 쿼리 */
@media(max-width : 1280px) {
    .container {width: 100%;}
    .store p {font-size: 60px;}
    .store_btn {width: 400px;}
    .store_src {width: 400px;}

    .swiper_slide_text {font-size: 24px;}
}

@media(max-width : 960px) {
    .ham {display: block;}

    #banner {height: 600px}
    .header {display: block;}
    .header_logo {width: 134px; margin: 0 auto;}
    .header_list {display: none;}
    .header_franchise {display: none;}


    .consult_tit {font-size: 20px; color: var(--color-red);}
    #consult_name {width: 140px; margin-right: 20px;}
    .consult_btn {padding: 10px 20px; background: #333; color: #fff; border-radius: 5px; font-size: 14px;}


    #store {height: 400px;}
    .store_tit {font-size: 28px; padding: 0 0 15px 40px;}
    .store_tit:before {width: 30px; top: -5px;}
    .store p {font-size: 42px;}
    .store_btn {width: 300px;}
    .store_src {width: 300px;}
    .store_btn {font-size: 16px;}
    .store_src {padding: 14px 15px;}
    .store_src::placeholder {font-size: 16px;}

    .menu {padding: 50px 0;}
    .menu_tit {font-size: 28px; padding: 0 0 15px 40px;}
    .menu_tit:before {width: 30px;}
    .menu p {width: 100%; font-size: 42px;}
    .menu_btn {font-size: 16px;}

    #community {padding: 50px 0;}
    .community_tit {font-size: 28px; padding: 0 0 15px 40px;}
    .community_tit:before {width: 28px;}
    .community p {font-size: 42px; padding-bottom: 30px;}
    .consult_contact {width: 66x;}
    .swiper_slide_text {height: 60px; font-size: 20px; margin-bottom: 10px;}
}

@media(max-width : 768px) {
    #banner {height: 450px; background: url(../img/main.jpg) no-repeat -450px; background-size: cover;}
    #consult {display: none;}
    #store {height: 600px; background: url(../img/bg_section1_left.gif) no-repeat,url(../img/bg_section1_right.gif) no-repeat; background-position: center -120px ,left 280px; background-size: 800px, 800px; }
    .store {padding: 50px 0;}
    .store_left {float: none; width: 100%; color: #fff; padding-right: 0; padding-bottom: 130px;}
    .store_right {float: none; width: 100%;}
    .store p {width: 100%; font-size: 32px; padding-bottom: 20px;}

    .menu p {font-size: 32px;}
    .menu_btn {width: 300px;}


    .community p {font-size: 32px; padding-bottom: 30px;}
    .swiper_slide_tit {padding: 0 0 10px 30px;}
    .swiper_slide_tit:before {width: 23px;}
 
}